.btn-news {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  line-height: 19px;
  border: none;
  border-bottom: 1px solid $black;
  width: max-content;
  padding: 0;
  padding-bottom: 7px;
  background-color: $white;
  transition: all ease-in-out 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1) translateY(-5px);
  }
}
