@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/iCiel-Gotham-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/Metropolis-Black.otf") format("opentype");
}*/
